* { margin: 0; padding: 0; }
body {
	font-family: "맑은 고딕", "Malgun Gothic", "돋움", Dotum, AppleGothic, sans-serif;
	font-size: 0.8em;
	line-height: 1.4em;
	background-color: white;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
a:active, a:focus { 
   outline:  none; 
   ie-dummy: expression(this.hideFocus=true); 
} 

@font-face {
    font-family:'Colaborate';	
    src: url('../web-fonts/ColabLig-webfont.eot');
    src: url('../web-fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/ColabLig-webfont.woff') format('woff'),
         url('../web-fonts/ColabLig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */
a{ text-decoration:none; color:inherit;}
a:hover {color:#F60}
img { border:none}
.clear { clear:both}
#page-wrap { width: 913px; margin: 20px auto; }
header {height:130px; text-transform:uppercase;}
header h1 {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
	margin: 0 0 0 35px;
}
header h1 span {
	display:block;
	text-indent:-9999px;
	height:80px;
	width:220px;
}

header nav { float:right; font-size:19px; margin:66px 0 0 0; font-family: 'Colaborate'; }
header nav a { color:#FFF; text-decoration:none}
header nav ul { list-style:none}
header nav li {
	float: left;
	padding: 0 19px;
	background-image: url(../images/divide.png);
	background-repeat: no-repeat;
	background-position: right top;
}
header nav li:last-child{ background:none}

/*--------------------- 검색 폼 부분 --------------------------*/
form * {vertical-align:middle;}
form#searchform {
	position:relative;
	float:right;
	top:10px;
	right:15px;	
	margin:0 ;
	padding:0;	
}

form#searchform input.in_box {
	padding:5px;
	width:150px;
	border:1px solid #F90;
}
form#searchform input.in_box:focus {
	width:200px;
	border:1px solid #F00;
	background-color:#FFC;

}
form#searchform input.smt_btn {
	padding:6px;
	width:62px;
	border:1px solid #333;
	color:#FFF;
	background:url(../images/btn_back.gif) repeat left bottom;		
}
/*--------------------- 검색 폼 부분 --------------------------*/

#main-content {background-color:#FFF; min-height:500px;}

#slider {margin-left:1px;}

#news, #blog_post {float:left;margin:30px 5px 0 10px;width:270px}
#news h2, #blog_post h2 {
	font-size: 16px;
	height:40px;
	padding-left:8px;
	background-image: url(../images/h2_under.png);
	background-repeat: no-repeat;
	background-position: left 25px;
}
#blog_post h3 { color:#930; font-size:14px}
#news li { background:url(../images/li_bullet.png) no-repeat left center; padding-left:10px; line-height:1.6em;}
#customer {float:right; width:330px;margin:30px 0 0 0;}
#news ul, #blog_post ul {list-style:none; margin-left:5px} 
#customer ul { list-style:none}
#customer li {float:left}
#customer li a {display:block; padding:0 10px; margin-top:12px}
footer { margin:30px 0; border-top:1px dotted #999999; text-align:center; padding-top:10px;}



